:root {
  --button-width: 8rem;
}

/*
 * Header global
 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.header>div {
  margin: 0px 2rem;
}

/*
 * Logo
 */

 .logoContainer *{
  /* Vertical center */
  vertical-align: middle;
}

.logoContainer h1{
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
}

.logoContainer img {
  display: inline-block;
  height: 5rem;
  margin-right: 1rem;
  margin-top: 0.3rem;
}

/*
 * Buttons
 */
button {
  font-size: 1rem;
  width: var(--button-width);
  margin: 0px 0.5rem;
}

button.buy, button.signin {
  background-color: var(--boox-darkblue);
}

button.sell, button.register {
  background-color: var(--boox-green);
}