:root {
  --button-width: 8rem;
}

/*
 * Header global
 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.3em 0px;
}

.header>div {
  margin: 0px 2rem;
}

/*
 * Logo
 */

.logoContainer *{
  /* Vertical center */
  vertical-align: middle;
}

.logoContainer h1{
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
}

.logoContainer img {
  display: inline-block;
  height: 5rem;
  margin-right: 1rem;
}

/*
 * Buttons
 */
button {
  font-size: 1rem;
  width: var(--button-width);
  margin: 0px 0.5rem;
}

button.buy, button.signin {
  background-color: var(--boox-darkblue);
}

button.sell, button.register {
  background-color: var(--boox-green);
}

/*
 * Account Information
 */

.accountContainer {
  border-left: solid 2px var(--boox-green);
  padding-left: 1em;
}

.accountContainer *{
  /* Vertical center */
  vertical-align: middle;
}

.accountContainer img[alt="profile-icon"] {
  height: 3rem;
}

.accountContainer img[alt="dots-icon"] {
  height: 2rem;
}

.accountContainer h5 {
  display: inline-block;
  color: var(--boox-green);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0px 1em 0px 0.5em;
}

