:root {
  --button-width: 8rem;
}

/*
 * Header global
 */
.header {
  display: inline-block;
  width: 100%;
  position: relative;
  background-color: #fff;
}

.header>div {
  display: inline-block;
  margin: 0px 2rem;
}

/*
 * Logo
 */

 .logoContainer *{
  /* Vertical center */
  vertical-align: middle;
}

.logoContainer h1{
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
}

.logoContainer img {
  display: inline-block;
  height: 5rem;
  margin-right: 1rem;
  margin-top: 0.3rem;
}

/*
 * Buttons
 */

.buySellContainer {
  /* Horizontal and vertical center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  font-size: 1rem;
  width: var(--button-width);
  margin: 0px 0.5rem;
}

button.buy, button.signin {
  background-color: var(--boox-darkblue);
}

button.sell, button.register {
  background-color: var(--boox-green);
}

/*
 * Account
 */
.accountContainer {
  /* Horizontal center */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  right: 0;
}