.buy {
  padding: 2em;
}

.buy .title {
  display: inline-block;
  width: 100%;

}

.buy .title h1{
  display: inline;
  vertical-align: middle;
}

/* Info icon */
.buy .title svg.infoicon {
  margin: 0px 1em;
  vertical-align: middle;
}

.buy .title svg.infoicon path {
  fill: var(--boox-blue);
  transition: 0.2s;
}

.buy .title svg.infoicon path:hover {
  fill: var(--boox-darkblue);
}

/* Profile icon */
.buy .title img {
  width: 80px;
  vertical-align: middle;
  margin: 0px 1em;
  filter: grayscale(100%);
}

.buy .bookDetails, .buy .contentStage {
  display: inline-block;
}

.BookStageContainer {
  display: flex;
  justify-content: center;
}

.buy .bookDetails {
  width: 40%;
}

.buy .contentStage {
  width: 60%;
}


 /* Book Details */
.bookDetails img {
 width: 40%;
 float: left;
 border: solid 5px var(--boox-blue);
 padding: 5px;
}

.bookDetails .text {
 display: inline-block;
 width: 50%;
 margin-left: 1em;
}

.bookDetails .text h4 {
  font-weight: 700;
}









