@import 'reset.css';

:root {
  --boox-darkblue: #334795;
  --boox-blue: #5CA2DB;
  --boox-green: #4BA48A;
  --boox-light-gray: #DADCE2;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}